div img{
    max-height: 100%;
    float: left;
    max-width: 100%;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
}

h1.author{
    font-size: 1.5em;
    line-height: 1.25em;
    font-style: italic;
    margin-top: 2em;
}

ul {
    margin-top; 5%;
	list-style-type: circle; 
}

ul li {
    margin-bottom: 5%;
}

#riastats {
    margin-top: 30%;
}

pre {
    font-family: 'Courier New', serif;
    border: 1px solid black;
    padding: 0;
}

#sentiment p {
    text-align: center;
    border: 1px solid black;
    width: 30%;
    float: left;
    margin: 1%;
}

#kappa {
    text-align: center;
}
#questions {
    font-size: 60px;
    line-height: 72px;
}
#hashSarcasmStats p{
    margin-top: 30%;
}

#hashSarcasm img{
    max-height: 100%;
    width: 100%;
}

#sitForwardLeanBack img{
    max-height: 100%;
    max-width: 50%;
}

#technologies ul, #approaches ul {
    margin-top: 20%;
    font-size: 72px;
    line-height: 76px;
}

#Alex img{
    margin-left: 40%;
}
#Alex ul{
    margin-top: 30%;
}

#emizar img{
    max-width: 50%;
    float: left;
}
